<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index_style.css') }}">
    <link rel="icon" href="/static/imgs/icon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN SITE</title>
</head>
<body>
    {% include 'nav.html' %}

    <div class="rect">
        <h2 class="cafename">COFFEEYUM</h2>
        <h4 class="cafequote">making drinks with love and care.</h4>
    </div>

</body>
</html>