*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url('/static/imgs/coffee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;

}

nav{
    background: linear-gradient(to left, rgb(104, 57, 40), rgb(156, 92, 68));
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width:100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height:50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:white;
}

nav a:hover{
    background-color: rgb(137, 81, 59);
}

nav li:first-child{
    display: flex;
    margin-right: 620px;
    align-items: center;
    color:white;
    flex-wrap: wrap;
    font-size: 26px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

::selection {
    background-color: rgba(183, 131, 98, 0.325); 
}

.rect {
    flex-wrap: wrap;
    width: 750px;
    height: 350px;
    background: linear-gradient(rgba(162, 92, 57, 0.95), rgba(147, 80, 47, 0.95));
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(102, 46, 22, 0.4);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cafename {
    font-family: fantasy;
    text-align: center;
    margin-top: 15%;
    font-size: 70px;
    color: rgb(62, 27, 14);
}

.cafequote {
    font-family: cursive;
    text-align: center;
    font-size: 30px;
    color: rgb(94, 44, 26);
}